[submodule "accumulators"]
	path = accumulators
	url = git://github.com/boost-lib/accumulators.git
[submodule "algorithm"]
	path = algorithm
	url = git://github.com/boost-lib/algorithm.git
[submodule "any"]
	path = any
	url = git://github.com/boost-lib/any.git
[submodule "array"]
	path = array
	url = git://github.com/boost-lib/array.git
[submodule "asio"]
	path = asio
	url = git://github.com/boost-lib/asio.git
[submodule "assign"]
	path = assign
	url = git://github.com/boost-lib/assign.git
[submodule "bcp"]
	path = bcp
	url = git://github.com/boost-lib/bcp.git
[submodule "bimap"]
	path = bimap
	url = git://github.com/boost-lib/bimap.git
[submodule "bind"]
	path = bind
	url = git://github.com/boost-lib/bind.git
[submodule "boostbook"]
	path = boostbook
	url = git://github.com/boost-lib/boostbook.git
[submodule "build"]
	path = build
	url = git://github.com/boost-lib/build.git
[submodule "chrono"]
	path = chrono
	url = git://github.com/boost-lib/chrono.git
[submodule "circular_buffer"]
	path = circular_buffer
	url = git://github.com/boost-lib/circular_buffer.git
[submodule "compatibility"]
	path = compatibility
	url = git://github.com/boost-lib/compatibility.git
[submodule "concept_check"]
	path = concept_check
	url = git://github.com/boost-lib/concept_check.git
[submodule "config"]
	path = config
	url = git://github.com/boost-lib/config.git
[submodule "conversion"]
	path = conversion
	url = git://github.com/boost-lib/conversion.git
[submodule "core"]
	path = core
	url = git://github.com/boost-lib/core.git
[submodule "crc"]
	path = crc
	url = git://github.com/boost-lib/crc.git
[submodule "date_time"]
	path = date_time
	url = git://github.com/boost-lib/date_time.git
[submodule "detail"]
	path = detail
	url = git://github.com/boost-lib/detail.git
[submodule "disjoint_sets"]
	path = disjoint_sets
	url = git://github.com/boost-lib/disjoint_sets.git
[submodule "dynamic_bitset"]
	path = dynamic_bitset
	url = git://github.com/boost-lib/dynamic_bitset.git
[submodule "exception"]
	path = exception
	url = git://github.com/boost-lib/exception.git
[submodule "filesystem"]
	path = filesystem
	url = git://github.com/boost-lib/filesystem.git
[submodule "flyweight"]
	path = flyweight
	url = git://github.com/boost-lib/flyweight.git
[submodule "foreach"]
	path = foreach
	url = git://github.com/boost-lib/foreach.git
[submodule "format"]
	path = format
	url = git://github.com/boost-lib/format.git
[submodule "function"]
	path = function
	url = git://github.com/boost-lib/function.git
[submodule "function_types"]
	path = function_types
	url = git://github.com/boost-lib/function_types.git
[submodule "functional"]
	path = functional
	url = git://github.com/boost-lib/functional.git
[submodule "fusion"]
	path = fusion
	url = git://github.com/boost-lib/fusion.git
[submodule "geometry"]
	path = geometry
	url = git://github.com/boost-lib/geometry.git
[submodule "gil"]
	path = gil
	url = git://github.com/boost-lib/gil.git
[submodule "graph"]
	path = graph
	url = git://github.com/boost-lib/graph.git
[submodule "graph_parallel"]
	path = graph_parallel
	url = git://github.com/boost-lib/graph_parallel.git
[submodule "icl"]
	path = icl
	url = git://github.com/boost-lib/icl.git
[submodule "inspect"]
	path = inspect
	url = git://github.com/boost-lib/inspect.git
[submodule "integer"]
	path = integer
	url = git://github.com/boost-lib/integer.git
[submodule "interprocess"]
	path = interprocess
	url = git://github.com/boost-lib/interprocess.git
[submodule "intrusive"]
	path = intrusive
	url = git://github.com/boost-lib/intrusive.git
[submodule "io"]
	path = io
	url = git://github.com/boost-lib/io.git
[submodule "iostreams"]
	path = iostreams
	url = git://github.com/boost-lib/iostreams.git
[submodule "iterator"]
	path = iterator
	url = git://github.com/boost-lib/iterator.git
[submodule "lambda"]
	path = lambda
	url = git://github.com/boost-lib/lambda.git
[submodule "litre"]
	path = litre
	url = git://github.com/boost-lib/litre.git
[submodule "logic"]
	path = logic
	url = git://github.com/boost-lib/logic.git
