[submodule "accumulators"]
	path = accumulators
	url = git://github.com/boost-lib/accumulators.git
[submodule "algorithm"]
	path = algorithm
	url = git://github.com/boost-lib/algorithm.git
[submodule "any"]
	path = any
	url = git://github.com/boost-lib/any.git
[submodule "array"]
	path = array
	url = git://github.com/boost-lib/array.git
[submodule "asio"]
	path = asio
	url = git://github.com/boost-lib/asio.git
[submodule "assign"]
	path = assign
	url = git://github.com/boost-lib/assign.git
[submodule "bcp"]
	path = bcp
	url = git://github.com/boost-lib/bcp.git
[submodule "bimap"]
	path = bimap
	url = git://github.com/boost-lib/bimap.git
[submodule "bind"]
	path = bind
	url = git://github.com/boost-lib/bind.git
